@font-face {
    font-family: hello;
    src: url(pxiByp8kv8JHgFVrLGT9Z1xlFd2JQEk.ttf);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: hello;
    color: white;
    background-color: #111;
}
body,html{
    height: 100%;
    width: 100%;
}
.main{
    width: 100%;
}
nav {
    position: fixed;
    /* background-color: rgb(0, 255, 68); */
    display: flex;
    align-items: flex-start;
    height: 12vh;
    width: 100%;
    padding: 2vw 10.4vw;
    justify-content: space-between;
    background-color: #111;
    z-index: 10;
}

nav h1 {
    font-size: 1.6vw;
}

.nav-part2 {
    display: flex;
    gap: 2vw;
    align-items: flex-start;
    padding: 1vh 0;
    position: relative;
    z-index: 10;
}

.nav-part2 h4 {
    font-size: 0.73vw;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 2.6vw;
}

.nav-part2 h5 {
    margin-bottom: 1vw;
    /* background-color: red; */
    display: none;
    overflow: hidden;
}

.nav-part2 h5 span {
    font-size: 0.77vw;
    font-weight: 400;
    transform: translateY(25px);
    display: inline-block;
}

nav button {
    background-color: #0BA34E;
    display: flex;
    align-items: center;
    padding: 14px 20px;
    font-size: 0.85vw;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 50px;
    border: none;
}

nav button svg {
    height: 0.8vw;
    margin-left: 1.6vw;
    background-color: #0BA34E;
}

#nav-bottom {
    width: 79%;
    height: 0vh;
    position: absolute;
    /* background-color: red; */
    top: 100%;
    background-color: #111;
    z-index: 9;
    border-bottom: 1px solid #fff;
    margin-top: 2vw;
}

.page1{
 height: 100vh;
 width: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

}
.page1 h1{
    font-size: 8vw;
    font-weight: 900;
    line-height: 8.5vw;

}
.page1 h1 span svg{
 height:6vw;
 width: 6vw;
 background-color: #0DA34E;
 border-radius: 50%;
}


.page1 p{
    font-size: 1.2vw;
    font-weight: 300;
 
}

.page1 .bot{
    display: flex;
    align-items: center;
    gap: 0.5vw;
}
.page1 .bot p {
    padding: 0.35vw 0.35vw;
    border:1px solid white;
    border-radius: 50px;
    font-size: 1.2vw;
    font-weight: 400;
    margin-top: 0.5vw;
}

.page1 .bot p:nth-last-child(2){
    border: none;
}


.moving-div{
    margin-top: 10vh;
    position: absolute;
    bottom: 3%;
    white-space: nowrap;
    padding: 1.2vw;
    overflow: hidden;
    width: 44%;
}

.moving-div .move{
    display: inline-block;
   
    animation-name: ani;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 9s;
}
.moving-div .move img{
   margin-left: 2vw;
   height: 3.5vw;
   width:  3.5vw;
}

@keyframes ani{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}
.page2{
    height: 100vh;
    width: 100%;
    position: relative;
    padding: 0vw 5vw;
    padding-bottom: 8vw;
    display: flex;
    align-items: center;
    border-top: 1px solid #333;
    justify-content: space-between;
   
}
.page-2-left{
      height: 100%;
      width: 50%;
      /* background-color: green; */
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      position: relative;
      
}
.kg-top{
    height: 30%;
    width: 50%;
    padding: 4vw 1.5vw;
    
}
.kg-top h5{
    font-size: 1vw;
    font-weight: 200;
    letter-spacing: -1px;
}
.kg-bot h5{
    font-size: 1vw;
    font-weight: 200;
    letter-spacing: -1px;
}
.kg-bot{
    height: 30%;
    width:70%;
   padding-left: 1.5vw;
    position: relative;
    bottom: 0;

}
.page3{
    height: 100vh;
    width: 100%;

}
.page-2-right{
    height: 100%;
    width: 50%;

    display: flex;
    flex-direction: column;
}
.page-2-right .f1{
    height: 25%;
    width: 100%;
    background-color: #0BA34E;
}
.page-2-right .f2{
    height: 25%;
    width: 100%;
    background-color: red;
}
.page-2-right .f3{
    height: 25%;
    width: 100%;
    background-color: yellow;
}
.page-2-right .f4{
    height: 25%;
    width: 100%;
    background-color: orange;
}